body{
    font-family: 'Roboto', sans-serif;
}

.all{
    display: flex;
    flex-direction: column;
}
.header, .footer, .section1{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type:none;
    display: flex;
    gap: 8px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo, .title, .footer{
    color: #EFE9E7;
}

.text{
    color: slategray;
    font-size: 18px;
}

.section1{
    display: flex;
    justify-content: space-around;
    padding: 5% 7.5%;
}

.inside{
    width: 75%;
    display: flex;
    gap: 20px;
}

.title{
    font-size: 48px;
    font-weight: 900;
}

.title_left{
    flex-shrink: 1;
}

.title_right{
    flex-shrink: 1;
}

button{
    background-color: #3882F6;
    padding: 8px 24px;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 3%;
    font-size: 16px;
}

img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.section2{
    background-color: #f9faf8;
}
.title2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.info_container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15%;
}

.square{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 7px solid #1F2937;
    margin-bottom: 10px;
}

.info_text{
    text-align: center;
}

.section3{
    background-color:#e5e7eb;
    padding-top: 5%;
    padding-bottom: 5%;
}

.quote, .thequotee{
    width: 70%;
    
    margin: 0 auto;
}

.quote{
    color:#1F2937;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.thequotee{
    font-size: 24px;
    font-weight: 900;
    color:#1F2937;
    
}

.last{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.alert{
    display: flex;
    background-color: #3882F6;
    width: 70%;
    justify-content: space-between;
    border-radius: 8px;
    padding: 3%;
    margin: 5%;
}

.section4{
    display: flex;
    justify-content: center;
}

.left4{
    font-size: 24px;
}

.title4{
    color: #f9faf8;
    font-weight: bold;
}

.button2{
    background-color: #3882F6;
    padding: 8px 24px;
    color: #f9faf8;
    font-weight: bold;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    margin-top: 3%;
    font-size: 16px;
}



